.popup{
    background-color: #000000;
    color: #ffffff;
    width:75%;
    height: 250px;
    position: absolute;
    bottom:700px;
    right:80px;
    display: inline-block;
    font-size: 60px;
}
.popup p{
    position: absolute;
    left: 130px;
}