.popup{
    background-color: #000000;
    color: #ffffff;
    width:50%;
    height: 200px;
    position: absolute;
    bottom:250px;
    right:300px;
    display: inline-block;
    font-size: 60px;
}
.popup p{
    position: absolute;
    left: 130px;
}